[submodule "archive/talk_2/slides/Open-Source-World-and-The-Status-of-Tunisia-Imed-Jaberi"]
	path = archive/talk_002/slides/Open-Source-World-and-The-Status-of-Tunisia-Imed-Jaberi
	url = git@github.com:3imed-jaberi/open-source-world-and-the-status-of-tunisia-talk.git
